packg
typedparser
visiontext

lightning
pandas
transformers
huggingface-hub
datasets
webdataset
wandb
ftfy  # text cleaner for some of the tokenizers
timm  # some of the vision models use timm

# dev
ipdb
ipython
pytest
pytest-cov
pytest-timeout
pylint
black[jupyter]
pre-commit
