packg
typedparser
visiontext

lightning
pandas
transformers
huggingface-hub
datasets>=2.20
pyarrow>=15
webdataset
wandb
ftfy  # text cleaner for some of the tokenizers
timm  # some of the vision models use timm

pillow-avif-plugin  # support parsing .avif images

# dev
ipdb
ipython
pytest
pytest-cov
pytest-timeout
pylint
black[jupyter]
pre-commit
